# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
*.msi
*.AppImage
*.g.dart

# config now stored in .fvmrc
.fvm

web/index.html

# Web related

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

# Project stuff
*.hive
*results.csv
ratings*.csv
*zip
data/l2s.sqlite
*.isar*
coverage/
*booth*json
logs/*
*test.json
libisar.so
predictions*.csv
sorted-elo-settings*.txt
.vscode
base.apk.cache/
research/**/output.txt
config.toml
ui_config.toml
db/
local**

# Things shared with me under NDA that I can't put on Git
private/

# Closed sources for git status cleanliness
# When adding a new closed-source thing, commit the stub, then
# add to gitignore
lib/closed_sources/psv2/

# FVM Version Cache
.fvm/
