[Desktop Entry]
Version=${USPSA_ANALYST_VERSION}
Type=Application
Name=${USPSA_ANALYST_NAME}
Comment=A tool to analyze and evaluate USPSA match results.
Exec=${USPSA_ANALYST_PATH}
Icon=shooting-sports-analyst
Terminal=false
StartupNotify=false
Categories=Utility;
